.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

/* *{
    margin: 0;
    padding: 0;
} */


.wrapper{
    width: 978px;
    margin: 0 auto;
    

}
.master{
    
    width: 978px;
    height: 230px;
    background-color: rgb(28, 39, 48);
    /* margin-top: 10px; */
   
}

.master h1{
    line-height: 2px;
    
    color: greenyellow;
    font-size: 40px;
    text-align: center;
    
    padding-top: 103px;
    font-family: Arial, Helvetica, sans-serif;

}
.master p{
   
    color: greenyellow;
    text-align: center;
}

.navbar{
    width: 978px;
    height: 35px;
    margin-top: 30px;
    background-color: greenyellow;
}

.navbar ul{
    /* float: left; */
}

.navbar li{
    margin-top: 10px;
    float: left;
    list-style-type: none;
    padding-right: 105px;
    
}
.navbar a{
    text-decoration: none;
    color: honeydew;
    font-size: 18px;
}

.image{
    
    margin-top: 40px;
}
.sidebar-left{
    width: 250px;
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
    /* line-height: 10px; */
    /* height: auto; */
}
.sidebar-right{
    margin-left: 0px;
    margin-bottom: 20px;
    float: left;
    width: 680px;
}
.sidebar-right h1{
    color: lawngreen;
    font-size: 40px;
}
.sidebar-right p{
    font-size: 20px;
}
.sidebar-left h1{
    color: lawngreen;
}
.sidebar-left .aliq p{
    margin-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sidebar-left h3{
    color:rgb(109, 103, 92);
}